* {
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  width:950px;
  margin: 20px auto;
  background-color: grey;
}

header {
  background-color: #A5ACAF;
}

h1, h2, p {
  text-align: center;
  color: #fff;
}

form {
  color: #fff;
}
